{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>{{ title }}</h2>
    <div class="row mx-3 ">
        {% for listing in listings %}
            <div class="card mx-3 my-3" style="width: 18rem;">
                {% if listing.image_url %}
                    <img class="card-img-top" src={{ listing.image_url }} alt="{{ listing.title }}" width=358px height=200>
                {% else %}
                    <img class="card-img-top"
                         src="{% static 'auctions/media/default.jpg' %}"
                         alt="Card image cap"
                         width="358px"
                         height="200">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'listing_page' list_title=listing.title %}"
                       class="btn stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
