{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit page</h1>
    <form action="{% url 'url_save_edit_page' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="page_title" value = "{{ page_title }}">
        <br>
        <label>Markdown:</label>
        <br>
        <textarea name="textarea">{{markdown_content}}</textarea>
        <br>
        <input type="submit" value="Save Data" class="btn btn-primary">
    </form>
{% endblock %}